.form {
  width: 100%;
  max-width: 700px;
  color: #E8AB4A!important;
  background-color: #FFD15E!important;
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -10px 0,linear-gradient(225deg, currentColor 25%, transparent 25%) -10px 0,linear-gradient(315deg, currentColor 25%, transparent 25%),linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: 20px 10px;
}

button:disabled {
  background: #a39eb8;
  cursor: not-allowed;
}

button:disabled:hover {
  transform: none;
}

p span {
  border-bottom: 3px solid #FFD15E;
}